<h1>Listado de Peliculas</h1>
<mat-divider></mat-divider>
<br />
<!-- campo de texto en el cual se aplica el filtro de peliculas -->
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>filtrar peliculas</mat-label>
  <input
    matInput
    name="filterMovie"
    (keyup)="applyFilter($any($event).target.value)"
    placeholder="digita una pelicula"
  />
</mat-form-field>
<!-- tabla -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Title Column -->
  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="/movies/{{ element.imdbID }}">{{ element.Title }}</a>
    </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.Type }}</td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="Year">
    <th mat-header-cell *matHeaderCellDef>Year</th>
    <td mat-cell *matCellDef="let element">{{ element.Year }}</td>
  </ng-container>

  <!-- imdbID Column -->
  <ng-container matColumnDef="imdbID">
    <th mat-header-cell *matHeaderCellDef>imdbID</th>
    <td mat-cell *matCellDef="let element">{{ element.imdbID }}</td>
  </ng-container>

  <!-- Poster Column -->
  <ng-container matColumnDef="Poster">
    <th mat-header-cell *matHeaderCellDef>Poster</th>
    <td mat-cell *matCellDef="let element" class="Poster">
      <img src="{{ element.Poster | image }}" />
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
